In [ ]:
price_per_product = '{"Product A": 22500, "Product B": 25000,"Product C": 15600}'
price_per_product

In [ ]:
type(price_per_product)

In [ ]:
import json

In [ ]:
parsed_str = json.loads(price_per_product)
parsed_str

In [ ]:
type(parsed_str)

In [ ]:
import pandas as pd

In [ ]:
pd.read_json('Lending-company.json')

In [ ]:
type(pd.read_json('Lending-company.json'))

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.xlsx'
my_xlxs_data = pd.read_excel(filename)
my_xlxs_data

In [ ]:
type(my_xlxs_data)

## Read CSV

In [1]:
import pandas as pd

In [3]:
location_data = pd.read_csv('Lending-company.csv', usecols=['StringID', 'Location','Region'], index_col='StringID')
location_data.head()

             Location    Region
StringID
LoanID_1   Location 3  Region 2
LoanID_2   Location 6  Region 6
LoanID_3   Location 8  Region 3
LoanID_4  Location 26  Region 2
LoanID_5  Location 34  Region 3